flows.json
[{"id":"54cb6270.18bf5c","type":"tab","label":"Beerchat I/O","disabled":false,"info":""},{"id":"f86d7378.96c81","type":"tab","label":"Help","disabled":false,"info":""},{"id":"333d2b7.10c2854","type":"tab","label":"Chuck norris quote bot","disabled":false,"info":""},{"id":"339c7d1f.2ea542","type":"tab","label":"xkcd","disabled":false,"info":""},{"id":"a9fd5b11.f122b","type":"tab","label":"Vote","disabled":false,"info":""},{"id":"1fd415e5.3fba32","type":"tab","label":"Quote","disabled":false,"info":""},{"id":"b618e8f6.6c5ef","type":"group","z":"1fd415e5.3fba32","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["25046930.80a05e","d331198f.c31998","1776cb6b.3278a5","aa28eb07.a3ac5","b4416833.a264d","ac19d061.780408","f0e76adb.4a2a9","2b363ab7.951996","787c758d.e6d27c"],"x":414,"y":359,"w":672,"h":302},{"id":"846c5fb3.dd505","type":"websocket-client","z":"","path":"ws://beerchat-proxy:8080/api/ws","tls":"","wholemsg":"false"},{"id":"e2dce995.a798d","type":"debug","z":"54cb6270.18bf5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":340,"wires":[]},{"id":"f2454781.384c98","type":"websocket in","z":"54cb6270.18bf5c","name":"","server":"","client":"846c5fb3.dd505","x":240,"y":160,"wires":[["4d1d70aa.e30f7"]]},{"id":"4d1d70aa.e30f7","type":"json","z":"54cb6270.18bf5c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":160,"wires":[["9cee666b.ee1f58"]]},{"id":"9e925399.78712","type":"json","z":"54cb6270.18bf5c","name":"","property":"payload","action":"str","pretty":false,"x":750,"y":400,"wires":[["a60b9a12.efa098"]]},{"id":"a60b9a12.efa098","type":"websocket out","z":"54cb6270.18bf5c","name":"","server":"","client":"846c5fb3.dd505","x":1090,"y":400,"wires":[]},{"id":"c8ecbdd7.0f9e98","type":"switch","z":"54cb6270.18bf5c","name":"Bot channel","property":"payload.data.channel","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":160,"wires":[["58b2b36.a2fea4c"]]},{"id":"39e77b6.3f9e484","type":"debug","z":"54cb6270.18bf5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"c8152df0.918b4","type":"switch","z":"54cb6270.18bf5c","name":"Main channel","property":"payload.data.channel","propertyType":"msg","rules":[{"t":"eq","v":"main","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":220,"wires":[["39e77b6.3f9e484"]]},{"id":"9cee666b.ee1f58","type":"switch","z":"54cb6270.18bf5c","name":"Exclude bots","property":"payload.data.type","propertyType":"msg","rules":[{"t":"neq","v":"bot","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":160,"wires":[["c8ecbdd7.0f9e98","c8152df0.918b4","eb97d4e8.b2aa3"]]},{"id":"139e714f.4b355f","type":"link out","z":"54cb6270.18bf5c","name":"Bot channel in","links":["7c0ced8.2de4794","ddfbbbed.5582f8","4d54a355.187144","d5ca70d1.84906"],"x":1215,"y":160,"wires":[]},{"id":"58b2b36.a2fea4c","type":"function","z":"54cb6270.18bf5c","name":"extract message","func":"\nreturn {\n    payload: msg.payload.data.message,\n    username: msg.payload.data.username\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":160,"wires":[["139e714f.4b355f"]]},{"id":"a4711c67.1fc858","type":"function","z":"54cb6270.18bf5c","name":"assemble message","func":"\nreturn {\n    payload: {\n        event: \"message-in\",\n        data: {\n            type: \"bot\",\n            name: \"bot\",\n            username: msg.botname || \"testbot\",\n            channel: \"bot\",\n            message: msg.payload || \"<no message>\"\n        }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":400,"wires":[["9e925399.78712"]]},{"id":"5de7601d.3fe0f","type":"link in","z":"54cb6270.18bf5c","name":"Bot channel out","links":["73473822.325b","b3d66bb2.d1cca8","97b58f6b.7c09c","e672f8a1.37fe3","ac19d061.780408","6e6a30f4.219278"],"x":275,"y":400,"wires":[["a4711c67.1fc858"]]},{"id":"7c0ced8.2de4794","type":"link in","z":"333d2b7.10c2854","name":"","links":["139e714f.4b355f"],"x":215,"y":140,"wires":[["189a7130.4e1817"]]},{"id":"73473822.325b","type":"link out","z":"333d2b7.10c2854","name":"","links":["5de7601d.3fe0f","4a3b0d8.64220f4"],"x":1195,"y":140,"wires":[]},{"id":"189a7130.4e1817","type":"switch","z":"333d2b7.10c2854","name":"check command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":".chucknorris","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":140,"wires":[["5d40c69c.62a19"]]},{"id":"5d40c69c.62a19","type":"http request","z":"333d2b7.10c2854","name":"Request quote","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.icndb.com/jokes/random","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":140,"wires":[["6964f135.ee0a88"]]},{"id":"efc89538.ccc5b8","type":"function","z":"333d2b7.10c2854","name":"Extract quote","func":"\nreturn {\n    payload: msg.payload.value.joke,\n    botname: \"ChuckNorris\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":140,"wires":[["73473822.325b"]]},{"id":"6964f135.ee0a88","type":"switch","z":"333d2b7.10c2854","name":"Success","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":140,"wires":[["efc89538.ccc5b8"]]},{"id":"ddfbbbed.5582f8","type":"link in","z":"f86d7378.96c81","name":"","links":["139e714f.4b355f"],"x":195,"y":120,"wires":[["6abee76a.9bc6c"]]},{"id":"b3d66bb2.d1cca8","type":"link out","z":"f86d7378.96c81","name":"","links":["5de7601d.3fe0f","4a3b0d8.64220f4"],"x":1175,"y":120,"wires":[]},{"id":"6abee76a.9bc6c","type":"switch","z":"f86d7378.96c81","name":"check command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":".help","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":120,"wires":[["979eb9fc.fe9dd"]]},{"id":"979eb9fc.fe9dd","type":"function","z":"f86d7378.96c81","name":"Generate help text","func":"\nconst txt = `Available commands:\n \".help\" basically this\n \".quote\" show a random quote\n \".quote_add <text>\" adds a quote, please don't abuse that\n \".chucknorris\" show a chuck norris quote\n \".xkcd\" show current xkcd comic\n`;\n\nreturn {\n    payload: txt,\n    botname: \"Help\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":120,"wires":[["b3d66bb2.d1cca8"]]},{"id":"4d54a355.187144","type":"link in","z":"339c7d1f.2ea542","name":"","links":["139e714f.4b355f"],"x":175,"y":140,"wires":[["f218f0a5.fe20f"]]},{"id":"97b58f6b.7c09c","type":"link out","z":"339c7d1f.2ea542","name":"","links":["5de7601d.3fe0f","4a3b0d8.64220f4"],"x":1115,"y":140,"wires":[]},{"id":"f218f0a5.fe20f","type":"switch","z":"339c7d1f.2ea542","name":"check command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":".xkcd","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":140,"wires":[["7e9cca88.cdc2c4"]]},{"id":"7e9cca88.cdc2c4","type":"http request","z":"339c7d1f.2ea542","name":"Request quote","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://xkcd.com/info.0.json","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":140,"wires":[["3d3f994a.6c0c2e","a39eb669.9dc1"]]},{"id":"3d3f994a.6c0c2e","type":"function","z":"339c7d1f.2ea542","name":"Extract quote","func":"\nconst data = msg.payload;\n\nreturn {\n    payload: `#${data.num}: ${data.safe_title} - ${data.alt}`,\n    botname: \"xkcd\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":140,"wires":[["97b58f6b.7c09c"]]},{"id":"ec06b20b.7d833","type":"delay","z":"339c7d1f.2ea542","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":260,"wires":[["97b58f6b.7c09c"]]},{"id":"a39eb669.9dc1","type":"function","z":"339c7d1f.2ea542","name":"Extract image","func":"\nreturn {\n    payload: msg.payload.img,\n    botname: \"xkcd\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["ec06b20b.7d833"]]},{"id":"eb97d4e8.b2aa3","type":"switch","z":"54cb6270.18bf5c","name":"Vote channel","property":"payload.data.channel","propertyType":"msg","rules":[{"t":"eq","v":"vote","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":280,"wires":[["6081efe8.dd47d","e2dce995.a798d"]]},{"id":"6081efe8.dd47d","type":"function","z":"54cb6270.18bf5c","name":"extract message","func":"\nreturn {\n    payload: msg.payload.data.message,\n    username: msg.payload.data.username,\n    channel_type: msg.payload.data.type\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":280,"wires":[["bf69d2b6.edea5"]]},{"id":"bf69d2b6.edea5","type":"link out","z":"54cb6270.18bf5c","name":"Vote channel in","links":["88adf0c.d90791"],"x":1215,"y":280,"wires":[]},{"id":"6107dcb.6cda324","type":"link in","z":"54cb6270.18bf5c","name":"Vote channel out","links":["56f7f4bd.253cc4"],"x":275,"y":480,"wires":[["c394252f.a4f24"]]},{"id":"c394252f.a4f24","type":"function","z":"54cb6270.18bf5c","name":"assemble message","func":"\nreturn {\n    payload: {\n        event: \"message-in\",\n        data: {\n            type: \"bot\",\n            name: \"bot\",\n            username: msg.botname || \"testbot\",\n            channel: \"vote\",\n            message: msg.payload || \"<no message>\"\n        }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":480,"wires":[["9e925399.78712"]]},{"id":"88adf0c.d90791","type":"link in","z":"a9fd5b11.f122b","name":"","links":["bf69d2b6.edea5"],"x":175,"y":140,"wires":[["6ec69dad.a6ac74"]]},{"id":"6ec69dad.a6ac74","type":"switch","z":"a9fd5b11.f122b","name":"check command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":".vote","vt":"str"},{"t":"regex","v":"^[.]vote[ ].+","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":140,"wires":[["2cc17d81.a7ad4a"],["d64aa9d.6879958"]]},{"id":"2b3e6151.4d6626","type":"function","z":"a9fd5b11.f122b","name":"extract vote topic","func":"\nreturn Object.assign(msg, {\n    topic: msg.payload.substring(6)\n});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":260,"wires":[["b68a9985.5b5f1"]]},{"id":"b68a9985.5b5f1","type":"function","z":"a9fd5b11.f122b","name":"register vote","func":"const votes = flow.get(\"votes\") || {};\nconst username = msg.username;\nconst topic = msg.topic;\n\nif (votes[username]) {\n    return {\n        botname: \"votebot\",\n        payload: `You already voted for '${votes[username]}'!`\n    }\n} else {\n    votes[username] = topic;\n    let count = 0;\n    Object.keys(votes).forEach(name => {\n       if (votes[name] == topic){\n           count++;\n       } \n    });\n    flow.set(\"votes\", votes);\n    return {\n        botname: \"votebot\",\n        payload: `You voted for '${votes[username]}', total count: ${count}`\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":260,"wires":[["56f7f4bd.253cc4"]]},{"id":"56f7f4bd.253cc4","type":"link out","z":"a9fd5b11.f122b","name":"","links":["6107dcb.6cda324"],"x":1235,"y":140,"wires":[]},{"id":"2cc17d81.a7ad4a","type":"function","z":"a9fd5b11.f122b","name":"show voting stats","func":"const votes = flow.get(\"votes\") || {};\n\nconst topic_counts = {};\nObject.keys(votes).forEach(name => {\n    const topic = votes[name];\n    if (!topic_counts[topic]){\n        topic_counts[topic] = 1;\n    } else {\n        topic_counts[topic]++;\n    }\n});\n\nlet txt = \"Vote stats:\\n\";\nObject.keys(topic_counts).forEach(topic => {\n   txt += ` **${topic}** ${topic_counts[topic]} vote(s)\\n`; \n});\n\nreturn {\n    botname: \"votebot\",\n    payload: txt\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":80,"wires":[["56f7f4bd.253cc4"]]},{"id":"7fcd8f80.c3026","type":"inject","z":"a9fd5b11.f122b","name":"reset stats","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":440,"wires":[["7a8535d7.15a384"]]},{"id":"7a8535d7.15a384","type":"function","z":"a9fd5b11.f122b","name":"","func":"flow.set(\"votes\", {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":440,"wires":[[]]},{"id":"4ff7bb81.83562c","type":"inject","z":"54cb6270.18bf5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":640,"wires":[["913d4163.21d358"]]},{"id":"913d4163.21d358","type":"function","z":"54cb6270.18bf5c","name":"","func":"\nreturn {\n    payload: {\n        event: \"message-out\",\n        data: {\n            type: \"bot\",\n            name: \"bot\",\n            username: \"testbot\",\n            target_username: \"BuckarooBanzai\",\n            target_name: \"Discord\",\n            message: \"PM Test!\"\n        }\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["9e925399.78712"]]},{"id":"d64aa9d.6879958","type":"switch","z":"a9fd5b11.f122b","name":"check ingame channel_type","property":"channel_type","propertyType":"msg","rules":[{"t":"neq","v":"minetest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":160,"wires":[["b6be66d1.d946e8"],["2b3e6151.4d6626"]]},{"id":"b6be66d1.d946e8","type":"function","z":"a9fd5b11.f122b","name":"ingame voting only msg","func":"\nreturn {\n    botname: \"votebot\",\n    payload: `You can only vote from ingame!`\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":140,"wires":[["56f7f4bd.253cc4"]]},{"id":"47ffef97.697d68","type":"comment","z":"a9fd5b11.f122b","name":"TODO: xp check","info":"","x":860,"y":220,"wires":[]},{"id":"87cca14a.dfefe","type":"comment","z":"54cb6270.18bf5c","name":"PM Test","info":"","x":460,"y":600,"wires":[]},{"id":"fdd507aa.0fa3","type":"switch","z":"1fd415e5.3fba32","name":"check command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":".quote","vt":"str"},{"t":"eq","v":".quote_stats","vt":"str"},{"t":"regex","v":"^[.]quote_add[ ].+","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":180,"wires":[["58198636.75929"],["24c0ba3a.cbd44e"],["25046930.80a05e"]]},{"id":"ee311355.6b5af","type":"function","z":"1fd415e5.3fba32","name":"show quote","func":"const quotes = msg.payload;\n\nconst quote = quotes[Math.floor(Math.random() * quotes.length)];\n\nreturn {\n    botname: \"quote\",\n    payload: quote\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":120,"wires":[["e672f8a1.37fe3"]]},{"id":"25046930.80a05e","type":"function","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"extract quote","func":"\nreturn Object.assign(msg, {\n    quote: msg.payload.substring(\".quote_add\".length + 1)\n});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":400,"wires":[["aa28eb07.a3ac5"]]},{"id":"d331198f.c31998","type":"function","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"success message","func":"const quotes = msg.payload;\n\nreturn {\n    botname: \"quote\",\n    payload: `Quote added! # of quotes: ${quotes.length}`\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":480,"wires":[["e672f8a1.37fe3"]]},{"id":"d5ca70d1.84906","type":"link in","z":"1fd415e5.3fba32","name":"","links":["139e714f.4b355f"],"x":155,"y":180,"wires":[["fdd507aa.0fa3"]]},{"id":"e672f8a1.37fe3","type":"link out","z":"1fd415e5.3fba32","name":"","links":["5de7601d.3fe0f"],"x":1235,"y":240,"wires":[]},{"id":"1776cb6b.3278a5","type":"function","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"deny request","func":"\nreturn {\n    botname: \"quote\",\n    payload: \"I'm afraid i can't do that dave\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["ac19d061.780408"]]},{"id":"58198636.75929","type":"file in","z":"1fd415e5.3fba32","name":"","filename":"/data/quotes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":550,"y":120,"wires":[["8d5267a.1d8ad98"]]},{"id":"8d5267a.1d8ad98","type":"json","z":"1fd415e5.3fba32","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":120,"wires":[["ee311355.6b5af"]]},{"id":"aa28eb07.a3ac5","type":"file in","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"","filename":"/data/quotes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":750,"y":400,"wires":[["b4416833.a264d"]]},{"id":"b4416833.a264d","type":"json","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":400,"wires":[["f0e76adb.4a2a9"]]},{"id":"ac19d061.780408","type":"link out","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"","links":["5de7601d.3fe0f"],"x":675,"y":620,"wires":[]},{"id":"f0e76adb.4a2a9","type":"function","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"append quote","func":"const quotes = msg.payload;\nconst quote = msg.quote;\n\nquotes.push(quote);\n\nreturn {\n    payload: quotes\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":480,"wires":[["2b363ab7.951996","d331198f.c31998"]]},{"id":"2b363ab7.951996","type":"json","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"","property":"payload","action":"","pretty":true,"x":690,"y":560,"wires":[["787c758d.e6d27c"]]},{"id":"787c758d.e6d27c","type":"file","z":"1fd415e5.3fba32","g":"b618e8f6.6c5ef","name":"","filename":"/data/quotes.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":970,"y":560,"wires":[[]]},{"id":"24c0ba3a.cbd44e","type":"file in","z":"1fd415e5.3fba32","name":"","filename":"/data/quotes.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":550,"y":180,"wires":[["9498ea12.6e77f"]]},{"id":"9498ea12.6e77f","type":"json","z":"1fd415e5.3fba32","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":180,"wires":[["d5b8e92.ca85a98"]]},{"id":"d5b8e92.ca85a98","type":"function","z":"1fd415e5.3fba32","name":"show stats","func":"const quotes = msg.payload;\n\nreturn {\n    botname: \"quote\",\n    payload: \"# of quotes: \" + quotes.length\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":180,"wires":[["e672f8a1.37fe3"]]}]